<!DOCTYPE html>
<html>
<head>
    <title>Whatsapp Sticker Maker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Whatsapp Sticker Maker</h1>

    {% if message %}
    <p class=primary>{{ message | safe }}</p>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        <div>
            <label for="pack_name">Pack Name:</label>
            <input type="text" id="pack_name" name="pack_name">
        </div>
        <br>
        <div>
            <label for="author_name">Author Name:</label>
            <input type="text" id="author_name" name="author_name">
        </div>
        <br>
        <label for="tray">Select a tray image:</label>
        <input type="file" id="tray" name="tray" accept="image/*"><br><br>
        <div>
            <input type="checkbox" id="add_tray_toggle" name="add_tray_toggle" onclick="update_max_files()">
            <label for="add_tray_toggle">Add tray image to the pack</label>
        </div>
        <br>
        <div>
            <label id="max_files_label" for="files">Select up to {{ max_size }} images:</label>
            <input type="file" id="files" name="files[]" multiple accept="image/*"><br><br>

            <input type="submit" value="Create Sticker pack!">
        </div>
        <div id="image-preview" style="margin-top: 1em;"></div>
        {% if pack_file_name %}
            <a href="{{ url_for('download_pack', filename=pack_file_name) }}" download>Download sticker pack</a>
        {% endif %}
        <script>
            const originalMaxSize = {{ max_size }};
        </script>
        <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    </form>
</body>
</html>
